@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?8vhtb');
  src:  url('fonts/icomoon.eot?8vhtb#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?8vhtb') format('truetype'),
    url('fonts/icomoon.woff?8vhtb') format('woff'),
    url('fonts/icomoon.svg?8vhtb#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-play .path1:before {
  content: "\e900";
  color: rgb(240, 94, 32);
}
.icon-play .path2:before {
  content: "\e901";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-chevron-thin-right:before {
  content: "\e902";
}
.icon-Arrow-3-Stroke:before {
  content: "\e903";
}
.icon-Info:before {
  content: "\e904";
}
.icon-Chevron-1:before {
  content: "\e905";
}
.icon-Check-hand:before {
  content: "\e906";
}
.icon-Vector-Stroke-2:before {
  content: "\e907";
}
.icon-Crane:before {
  content: "\e908";
}
.icon-Search:before {
  content: "\e909";
}
.icon-facebook:before {
  content: "\ea90";
}
.icon-instagram:before {
  content: "\ea92";
}
.icon-whatsapp:before {
  content: "\ea93";
}
.icon-skype:before {
  content: "\eac5";
}
.icon-linkedin2:before {
  content: "\eaca";
}
