article{
    & > .small{
        width: 80%;
        margin:0px 10%;
        & > .img{
            width: 100%;
            margin-bottom: 20px;
            & > img{
                width: 100%;
            }
        }
        & > div{
                h4{
                    border:none;
                    border-top: 1px solid black;
                    border-bottom: 1px solid black;
                }
                p{

                }
        }
    }
    & .medium{
        width: 100%;
        & .img{
            width: 100%;
            margin-bottom: 20px;
            img{
                width: 100%;
            }
        }
        & > div{
            h4{
                border:none;
                border-top: 1px solid black;
                border-bottom: 1px solid black;
            }
            p{

            }
    }
    }
    & .reverse{     
        display: grid;
        grid-template-areas: "info" "imagen";
        & > .img{
            grid-area: imagen;
        }
        & > .info{
            grid-area: info;
        }
    }
    @media screen and(max-width:1240px) {
        & .small{
            width: 100%;
            margin: 0px;
        }
    }
    @media screen and(max-width:768px) {
        & .reverse{
            grid-template-areas: "imagen" "info";
             width: 100%;
         }
    }
         

    
}