@import './variables';
*{
    box-sizing: border-box;
}
h1{
    font-size: 3rem;
}
h2{
    font-size: 2.5rem;
}   
h3{
    font-size: 2rem;
}
h4{
    font-size: 1.5rem;;
}
h5{
    font-size: 1rem;
}
h6{
    font-size: .5rem;
}
.main{
    position: relative;
}
.header-active{
    background-color: white;
    box-shadow: 0 8px 6px -6px #999;
}
.l-sp-4{
    letter-spacing: 4px;
}
main{
    position: relative;
}
section{
    position: relative;
}
body{

    .img-index-background{
        background-image: url('../assets/img/header.png');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }
    .redes{
        a{
            color: white;
            text-decoration: none;
        }
    }
    
    button{
            div{
                position: relative;
                a{
                    color: white;
                    text-decoration: none;
                }
            }
        }
    main{
        .article-1{
            img{
                width: 100%;
            }
            button{
                div{
                    position: relative;
                    &::after{
                        margin-left: 5px;
                        padding-left: 5px;
                        position:relative;
                        content: "\003E";
                        border-left: 1px solid whitesmoke;
                        height: 100px;
                    }
                }
            }
        }
        .article-2{
            background-color: $softGray;
            #cards{
                & > div{
                    display: flex;
                    flex-direction: column;
                    justify-content: space-evenly;
                    align-items: center;
                    width: 17.5vw;
                    min-width: 150px;
                    background-color: white;
                    margin: 10px;
                    padding: 30px 10px;
                    min-width: 200px;
                    // height: 250px;
                    
                    // & > div{
                    //     margin: 15px 0px;
                    // }

                    h4{
                        font-weight: bold;
                        text-align: center;
                    }
                    p{
                        text-align: center;
                        font-size: 1rem;
                    }
                }
               
            }
            
        }
        & .iconos{
            color: $orangy;
        }
        & .first{
            .iconos{
                position: relative;
                & i{
                    position: relative;
                    font-size: 2rem; 
                    left: 5px;
                }
                &::before{
                    position: relative;
                    font-family: 'icomoon';
                    // font-weight: 900;
                    content: '\e906';
                    // border: 2px solid $orangy;
                    font-size: 4rem;
                    // width: 25px;
                    // height: 25px;
                    // border-radius: 50%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    // left: -5px;
                }
            }
            
        }
        & .second{
            .iconos{
                position: relative;
                & i{
                    position: relative;
                    font-size: 2rem;
                }
                &::before{
                    position: relative;
                    font-family: 'icomoon';
                    // font-weight: 900;
                    content: '\e907';
                    // border: 2px solid $orangy;
                    font-size: 4rem;
                    // width: 15px;
                    // height: 15px;
                    // border-radius: 50%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
            }
            
        }
        & .third{
            .iconos{
                & i{
                    font-size: 2rem;
                }
                &::before{
                    position: relative;
                    font-family: 'icomoon';
                    // font-weight: 900;
                    content: '\e908';
                    // border: 2px solid $orangy;
                    font-size: 4rem;
                    // width: 15px;
                    // height: 15px;
                    // border-radius: 50%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
            }
           
        }
        .article-3{
            overflow: hidden;
            background-color: $hardGray;
            .swiper-container{
                overflow: visible!important;
            }
            .frame {
                position: relative;
                transform: scale(.8);
                opacity: 0.5;
                img{
                    width: 100%;
                }
                .content{
                    font-size: .5rem;
                    padding: 10px 15px;
                    overflow: hidden;
                    & > h3{
                        margin: 0px;
                        padding: 0px;
                        font-weight: bold;
                    }
                    & > h4{
                        font-weight: bold;
                    }
                    & > p{
                        font-size: .7rem;
                    }
                }
                &>.bottom-left{
                    position: relative;
                    bottom: 60px;
                    width: 100%;
                    padding: 10px;
                    font-size: .7rem;
                    a{
                        color: black;
                        text-decoration: none;
                        font-size: .85rem;
                        &::after{
                            font-family: icomoon;
                            content: '\e902';
                        }
                    }
                }
                &>.top-right{
                    position: absolute;
                    top:0px;
                    right: 0px;
                    width: 20%;
                    z-index: 999;
                    background-color: white;
                    padding: 15px;
                    img{
                        width: 100%;
                    }
                }
                &.active{
                    transform: scale(1.1);
                    opacity: 1;
                }
                @media screen and(max-width:501px) {
                    transform: scale(1);
                    &>.bottom-left{
                        bottom: 30px;
                        width: 100%;
                    }
                    &>.bottom-right{
                        display: none;
                    }
                }
                @media screen and(max-width:942px) {
                    transform: scale(1);
                    opacity: 1;
                    &.active{
                        transform: scale(1);
                        &>.top-right{
                            transform: translateY(0%);
                        }
                    }
                }
                @media screen and(max-width:300px) {
                    transform: scale(1);
                    &>.bottom-left{
                        bottom: 10px;
                        width: 100%;
                    }
                }
            }
            
            #arrows{
                opacity: 0.5;
                &>div{
                    padding: 5px 20px;
                    background-color: transparent;
                    border: 1px solid black;
                    cursor: pointer;
                    font-size: .8rem;
                    &:hover{
                        background-color: rgba(0, 0, 0, 0.335);
                        border: .5px solid rgba(0, 0, 0, 0.555);
                    }
                }
                #prev{
                    &::before{
                        position: relative;
                        font-family: 'icomoon';
                        content: '\e903';
                        font-size: .8rem;
                        transform: rotateZ(180deg);
                    }
                }
                #next{
                    &::before{
                        position: relative;
                        font-family: 'icomoon';
                        content: '\e903';
                        font-size: .8rem;
                    }
                }
            }
        }
        .article-4{
            overflow: hidden;
            padding-top: 80px;
            padding-bottom: 40px;
            &>.container-fluid{
                margin-left: 10vw;
                
                @media  screen and(max-width:768px) {
                    margin-left: 0vw;
                        .card{
                            width: 90vw;
                        }
                    
                }
            }
        }
        .article-5{
            background-image: url('../assets/img/beach.png');
            background-repeat: no-repeat;
            background-size: cover;
            .boxy{
                width: 80%;
                min-width: 280px;
                background: #F05E20;
                border-radius: 2px;
                padding: 30px 80px 50px 20px;
                margin: 80px 0px;
                color: white;
                & a{
                    color: white;
                    text-decoration: none;
                }
                button{
                    background-color: #F05E20;
                    color: white;
                    &:hover{
                        background-color: black;
                    }
                    
                }
                @media screen and(max-width:942px) {
                    padding: 30px;
                    
                }

            }
        }
    }
    .vh-80{
        height: 80vh;
    }
    .logo{
        width: 10vw;
        min-width: 110px;
        height: auto;
    }
    .append-greater-than{
        position: relative;
        &::after{
            margin-left: 5px;
            padding-left: 5px;
            position:relative;
            font-family: icomoon;
            content: "\e902";
            border-left: 1px solid whitesmoke;
            height: 100px;
        }
    }
    .btn-primary{
        color: white;
        &:hover{
            color: white;
        }
    }
    #line-down{
        padding-bottom: 120px;
        margin-bottom: 20px;
        border-bottom: 1px solid #ccc;
    }
    .half-container {
        width: 50%;
    }
    .top-bottom-space{
        padding-top: 20vh;
    }
    
        
    
    .card{                      
        background-color: #1B1B1B;
        // color: white;
        border-radius: 0px;
        img{
            object-fit: cover;
            width: 100%;
            height: 100%;
            text-align: center;
        }
        .card-body{
            height: 100%;
            color: white;
            padding: 0 30px;
        }
        .footer{
            border-top: 1px solid white;
            padding-top: 15px;
        }
        a{
            text-decoration: none;
        }
        
        .arrow-host{
            margin-right: 15px;
            height: 30px;
            cursor: pointer;
            display: flex;
            align-items: center;
            padding-bottom: 10px;
            .flecha{
                width: 80px;
                height: 0px;
                border: .5px solid $orangy;
                background-color: $orangy;
                position: relative;
                &::before{
                    position: absolute;
                    content: '';
                    width: 8.5px;
                    border: .5px solid $orangy;
                    background-color: $orangy;
                    right: 0px;
                    transform-origin: 100% 0%;
                    transform: translateX(2px) rotateZ(45deg);
                    border-radius: 5px;
                }
                &::after{
                    position: absolute;
                    content: '';
                    width: 8px;
                    border-radius: 5px;
                    border: .5px solid $orangy;
                    background-color: $orangy;
                    right: 0px;
                    transform-origin: 100% 0%;
                    transform: rotateZ(315deg);
                }
            }
        }
        @media screen and(max-width:992px) {
            &.swiper{
                width: 90%;
                &>div{
                    display: grid!important;
                    grid-template-areas: "imagen" "texto";

                    & >:first-child{
                        grid-area: texto;
                        width: 100%;
                    }
                    & >:last-child{
                        grid-area: imagen;
                        width: 100%;
                        height: 40vh;
                    }
                }
            }
            
        }
        
    }
    #verVideo{
        position: relative;
        &::before{
            content: '\e900';
            font-family: icomoon;
            position: relative;
        }
    }

}
