header{
    position: relative;
    .img-faq-background{
        width: 100%;
        img{
            width: 100%;
        }
    }
}
.faq-main{
    margin-bottom: 150px;
    background-image: url(../assets/img/nosotros/Group.svg);
    background-repeat: no-repeat no-repeat;
    background-size: contain;
    background-position:left;
    background-position-y: 100px;

    
    .container{
        margin-top: 80px;
        display: flex;
        justify-content: center;
        .accordion {
            width: 50%;
            .accordion-button{
                background-color: transparent;
            }
            .accordion-item{
                border: none;
                border-bottom: 1px solid black;
                background-color: transparent;
                &:last-child{
                    border-bottom: none;
                }
            }
            @media screen and(max-width:900px) {
                width: 70%;
            }
            @media screen and(max-width:700px) {
                width: 85%;
            }
        }
    }
    
    .accordion-button:not(.collapsed) {
        background-color: white;
        border: none;
        color: $orangy;
    }
    .accordion{
        background-color: transparent;
    }
    .accordion-button:focus {
        border-color: black;
    }
}