@import '../../src/css/fonts';
@import '../../src/assets/fonts/icomoon/style.css';

$tablet-width:992px;
$cellphone-width:680px;


.f-sofia{
    font-family: sofiaPro;
}
body{
    font-family: galano;
}
:root{
    font-size: 10.01px;
    @media only screen and (min-width: 250px){
        font-size:  calc(0.479vw + 8.812px);
    }
    @media only screen and (min-width: $cellphone-width){
        font-size:  calc(0.311vw + 9.958px);
    }
    @media only screen and (min-width: $tablet-width){
        font-size:  calc(0.28vw + 10.566px);
    }
    @media only screen and(min-width:2000px) {
        font-size: calc(16.17px);
    }
}
