footer{
    background-color: #1B1B1B;
    color: #F05E20;
    & .iconos{
        display: flex;
        width: 150px;
        justify-content: space-around;
        & i{
            color: white;
        }
    }
    h6{
        margin: 20px 0px;
        color: white;
    }
    ul {
        padding-left: 0px;
        list-style-type: none;
        li{
            margin-top: 5px;
            font-size: 12px;
            a{
                text-decoration: none;
            }
        }
       }
    .container-fluid{
        padding: 20px 60px;
        &:first-child{
            &>div{
                &:last-child{
                    color: white;
                }
            }
        }
    }
    
}