header{
    .navigation{
        nav{
            .logo{
                width: 10vw;
                min-width: 110px;
                height: auto;
            }
            button{
                margin-bottom: 0px;
            }
            ul{
                display: flex;
                flex-direction: row;
                justify-content: space-around;
                align-items: center;
                margin: 0px!important;
                width: 100%;
                li{
                    font-weight: bold;
                }
                @media screen and(max-width:992px) {
                    flex-direction: column;
                    align-items:flex-start;
                    li{
                        a{
                            font-size: 1rem;
                            margin-top: 15px;
                        }
                    }
                }
            }

        }
        .secondary-nav{
            width: 100%;
            display: flex;
            flex-wrap: nowrap;
            a{
                text-decoration: none;
                color: $orangy;
                cursor: pointer;
                font-size: 1rem;
                &:nth-of-type(2){
                    font-size: 1.5rem;
                }
                &:nth-of-type(3){
                    font-size: 1.35rem;
                }
                
            }
            @media screen and (max-width:992px) {
                display: none!important;                    
            }
        }
        @media screen and(max-width:680px) {
            a{
                font-size: 14px!important;
            }
        }
    }
    
}