body{
    .img-inversiones-background{
        background-image: url('../assets/img/inversiones/header.png');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }
    .outer-box{
        padding: 120px 0px;
        .caja{
            width: 45vw;
            min-width: 290px;
            background-color: white;
            padding: 15px 40px;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: space-between; 
            button{
                margin-bottom: 0px;
            }
        }
        @media screen and(max-width:992px) {
            display: flex;
            justify-content: center;
            
        
        }
        
    }
    .orangy-line{
        width: 100%;
        height: 30px;
        background-color: $orangy;
        position: relative;
    }
    #article-1-inversion{
        margin: 120px 0px 60px 0px;
        & div{
            &>img{
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
        }
        .host{
            width: 80%;
            padding-left: 60px;
            #bird-frame{
                width: 120px;
                img{
                    width: 100%;
                }
            }
            p{
                font-size: 12px;
            } 
        }
        
        
    }
}


