.background-nosotros{
    position: absolute;
    z-index: 0;
    width: 65%;
    right: 0px;
    img{
        width: 100%;
    }
}
.contenido-nosotros{
    z-index: 99;
    position: relative;
}
#images-nosotros{
    // background-image: url('/assets/img/nosotros/Group.svg');
    // background-repeat: no-repeat no-repeat;
    // background-size: cover;
    // background-position:left;
    position: relative;
    z-index: 2;
    background-position-x: 100%;
    & > div{
        width: 40%;
        img{
            width: 100%;
        }
    }
}
#section-nosotros{
    & > div{
        & > div{

            h3{
                font-weight: bold;
        
            }
            p{
                font-size: 12px;
                margin-left: 10px;
                margin-right: 10px;
            }
        }
    }
}
.parent-nosotros{
    box-sizing: border-box;
    display: grid;
    grid-template-areas: "imagen .";
    grid-template-columns: 55% 45%;
    gap: 0px;
    margin: 100px 0px;
    .child-1{

        grid-area: imagen;
        position: relative;
        img{
            width: 100%;
            object-fit: cover;
            position: relative;
        
        }
        .card{
            width: 80%;
            min-width: 220px;
            background-color: white;
            position: absolute;
            top: 20%;
            right: -50%;
            border-radius: 1px;
            padding:30px;
            p{
                font-size: 15px;
            }
        }
    }
    .child-2{
        grid-area: contenido;
    }
    
    @media screen and(max-width:912px) {
        grid-template-areas: "imagen" "contenido";
        grid-template-columns: 100%;
        .child-1{
            .card{
                position: absolute;
                width: 50%;
                padding-top: 10px;
                top: 25%;
                right: 25%;
            }
        }
    }

}