.parent-servicios{
    box-sizing: border-box;
    display: grid;
    grid-template-areas: ". imagen" ". contenido";
    grid-template-columns: 27% 73%;
    gap: 0px;
    margin: 100px 0px;
    background: linear-gradient(
            to bottom, 
            #ffffff 0%, 
            #ffffff 30%, 
            #FAFAFA 30%, 
            #FAFAFA 100%
          );

    .child-1{
        grid-area: imagen;
        position: relative;
        img{
            width: 100%;
            object-fit: cover;
            position: relative;     
        }
        .card{
            width: 30vw;
            min-width: 350px;
            background-color: white;
            position: absolute;
            top: 5%;
            left: -15%;
            border-radius: 1px;
            padding:30px;
            p{
                font-size: 1rem;
            }
        }
    }
    .child-2{
        grid-area: contenido;
    }
    @media screen and(max-width:1242px) {
        grid-template-areas: "imagen" "contenido";
        grid-template-columns: 100%;
        .child-1{
            .card{
                position: absolute;
                width: 35%;
                padding-top: 10px;
                top: 10px;
                left: 0px;
            }
        }
    }
    @media screen and(max-width:912px) {
        grid-template-areas: "imagen" "contenido";
        grid-template-columns: 100%;
        .child-1{
            .card{
                position: absolute;
                width: 50%;
                padding-top: 10px;
                top: 10px;
                left: 0px;
            }
        }
    }
    @media screen and(max-width:700px) {
        grid-template-areas: "imagen" "contenido";
        grid-template-columns: 100%;
        .child-1{
            .card{
                position: relative;
                width: 100%;
                padding-top: 10px;
                top: 0%;
            }
        }
    }

}
.last{
    margin-bottom: 0px;
    & .parent-servicios{
        margin-bottom: 0px;
    }
    
}